* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.container {
  width: 90%;
  max-width: 700px;
  margin: auto; }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style-type: none; }

.flex-col {
  display: flex;
  align-items: center; }

pb-15 {
  padding-bottom: 15px; }

.pb-30 {
  padding-bottom: 30px; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: #fff;
  position: fixed;
  z-index: 4;
  width: 100%; }
  nav .left-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  nav .left-nav-list li {
    padding: 0 3px; }
  nav .middle-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    nav .middle-nav-list .fa-home {
      color: #057CEB; }
  nav .middle-nav-list li {
    padding: 0 1rem; }
  nav .middle-nav-list i {
    font-size: 21px;
    color: #65676B; }
  nav .right-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  nav .right-nav-list i {
    position: relative;
    top: 11px;
    left: 4px; }
  nav .right-nav-list li {
    padding: 0 .5rem; }
  nav .fb-nav-icon i {
    color: #057CEB; }
  nav .search {
    position: relative; }
  nav .search input {
    padding: 10px 45px;
    border-radius: 24px;
    background: #F0F2F5;
    border: 1px solid #F0F2F5;
    outline: none; }
  nav .search .fa-search {
    position: absolute;
    top: 13px;
    left: 20px;
    font-size: 15px;
    color: gray; }
  nav .profile-img img {
    width: 35px;
    border-radius: 50%; }
  nav .gray-border-icon {
    background: #F0F2F5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 3px; }

main {
  background: #F0F2F5;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px; }
  main .left-sidebar {
    padding-top: 68px; }
  main .left-sb-img-container {
    display: flex;
    align-items: center; }
  main .left-sb-img {
    border-radius: 50%;
    width: 42px;
    margin-right: 10px;
    cursor: pointer; }
  main .voting-info {
    display: flex;
    align-items: center; }
  main i {
    cursor: pointer; }
  main .left-sb-p:hover {
    color: gray;
    cursor: pointer; }
  main .voting-info i {
    margin-right: 6px;
    font-size: 26px;
    color: #057CEB; }
  main .pages i {
    margin-right: 12px;
    color: orange;
    font-size: 26px; }
  main .nine-new {
    padding-bottom: 20px; }
  main .nine-new li {
    color: #057CEB;
    margin-left: 30px; }
  main .nine-new li span {
    text-align: center;
    font-size: 28px; }
  main .friends i {
    color: #057CEB;
    margin-right: 12px;
    font-size: 26px; }
  main .messanger i {
    color: #057CEB;
    margin-right: 12px;
    font-size: 26px; }
  main .fundraisers i {
    margin-right: 10px;
    font-size: 26px;
    color: #EB3654;
    position: relative;
    top: 7px;
    left: 6px; }
  main .heart-container {
    background: #F5BF36;
    height: 38px;
    border-radius: 50%;
    width: 38px;
    margin-right: 9px; }
  main .marketplace i {
    color: #057CEB;
    font-size: 26px;
    margin-right: 12px; }
  main .watch i {
    color: #057CEB;
    font-size: 26px;
    margin-right: 12px; }
  main .see-more i {
    color: #050505;
    font-size: 26px;
    margin-right: 12px;
    position: relative;
    top: 7px;
    left: 6px; }
  main .chevron-down-container {
    background: lightgray;
    height: 38px;
    border-radius: 50%;
    width: 38px;
    margin-right: 9px; }
  main .bottom-line {
    border-bottom: 1px solid lightgray;
    margin: auto;
    margin-right: 19px;
    margin-bottom: 15px; }
  main .priority-people i {
    font-size: 26px;
    margin-right: 12px; }
  main .big-blue i {
    color: #057CEB;
    font-size: 26px;
    margin-right: 12px; }
  main .left-sidebar-footer {
    padding-top: 60px; }
  main .left-sidebar-footer a, main span {
    color: #787A7E;
    font-size: 13px; }
  main .left-sidebar-footer a:hover {
    text-decoration: underline; }
  main .feed {
    padding-top: 68px; }
  main .right-sidebar {
    padding-top: 68px; }
  main .right-sidebar h3 {
    color: #65676B;
    padding-left: 35px;
    font-weight: 100; }
  main .sponser-ad {
    padding-left: 30px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px; }
  main .sponser-ad img {
    width: 150px;
    height: auto;
    border-radius: 21px; }
  main .sponser-ad p {
    padding-left: 5px;
    font-size: 14px; }
  main small {
    padding-left: 5px;
    color: #787A7E; }
  main .right-sidebar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  main .right-sidebar-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: #787A7E;
    cursor: pointer; }
  main .right-sidebar-nav li {
    padding: 0 10px; }
  main .contact-list {
    padding-top: 15px; }
  main .contact-list img {
    width: 33px;
    border-radius: 50%; }
  main .contact {
    display: flex;
    align-items: center;
    padding-left: 30px;
    cursor: pointer;
    padding-bottom: 20px; }
  main .contact i {
    color: green;
    font-size: 11px;
    position: relative;
    top: 12px;
    right: 12px; }
  main .contact-list p {
    padding-left: 7px; }
  main .new-message {
    background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    left: 275px;
    bottom: 220px;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.75); }
  main .new-message i {
    font-size: 18px;
    position: relative;
    left: 12px;
    top: 9px;
    cursor: pointer; }
  main .create-new-group {
    padding-left: 30px;
    padding-top: 20px; }
  main .create-new-group i {
    color: #787A7E;
    font-size: 21px;
    position: relative;
    top: 8px;
    left: 10px;
    cursor: pointer; }
  main .plus-bg {
    background: lightgray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer; }
  main .create-new-group p {
    font-weight: 200;
    cursor: pointer; }
  main .story-preview {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 8px;
    height: 150px;
    width: 635px;
    justify-items: center;
    cursor: pointer; }
  main .story-preview img {
    width: 100%;
    height: auto;
    border-radius: 21px 21px 0px 0px;
    cursor: pointer; }
  main .arrow-bg {
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    left: 609px;
    bottom: 433px; }
  main .arrow-bg i {
    font-size: 21px;
    color: gray;
    position: relative;
    z-index: 2;
    position: relative;
    left: 12px;
    top: 11px;
    cursor: pointer; }
  main .create-a-story {
    background: white;
    z-index: 2;
    border-radius: 21px;
    border-radius: 0px 0px 21px 21px;
    position: relative;
    bottom: 10px;
    text-align: center; }
  main .plus-bg-blue {
    background: #057CEB;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    left: 30px;
    bottom: 18px; }
  main .create-a-story i {
    color: white;
    z-index: 2;
    position: relative;
    top: 7px; }
  main .user-story p {
    font-size: 15px;
    position: relative;
    bottom: 10px; }
  main .friend-story {
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url('./img/contact-2.jpg') no-repeat center center/cover;
    width: 100%;
    height: 163px;
    border-radius: 21px; }
  main .friend-story img {
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url('./img/contact-2.jpg') no-repeat center center/cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: 5px;
    top: 10px; }
  main .friend-story-2 img {
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url('./img/contact-2.jpg') no-repeat center center/cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: 5px;
    top: 10px; }
  main .friend-story-3 img {
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url('./img/contact-2.jpg') no-repeat center center/cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: 5px;
    top: 10px; }
  main .friend-story-4 img {
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url('./img/contact-2.jpg') no-repeat center center/cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: 5px;
    top: 10px; }
  main .friend-story-5 img {
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url('./img/contact-2.jpg') no-repeat center center/cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: 5px;
    top: 10px; }
  main .friend-story-2 {
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url('./img/contact-1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 163px;
    border-radius: 21px; }
  main .friend-story-3 {
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url('./img/contact-3.jpg') no-repeat center center/cover;
    width: 100%;
    height: 163px;
    border-radius: 21px; }
  main .friend-story-4 {
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url('./img/contact-4.jpg') no-repeat center center/cover;
    width: 100%;
    height: 163px;
    border-radius: 21px; }
  main .friend-story-5 {
    background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url('./img/contact-5.jpg') no-repeat center center/cover;
    width: 100%;
    height: 163px;
    border-radius: 21px; }
  main .friend-story-p {
    color: white;
    font-weight: 500;
    position: relative;
    top: 100px;
    font-size: 13px;
    text-align: center; }
  main .create-a-post {
    background: #fff;
    border-radius: 7px;
    padding: 10px; }
  main .post-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px; }
  main .post-box input {
    margin: 7px 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 400px;
    border-radius: 21px;
    margin-left: 5px;
    border: none;
    background: #F0F2F5;
    outline: none;
    text-indent: 10px;
    overflow: visible; }
  main .post-box ::placeholder {
    overflow: visible;
    font-size: 16px; }
  main .post-box img {
    height: 40px;
    width: 40px;
    border-radius: 50%; }
  main .desktop-post-description {
    background: #F0F2F5;
    border-bottom: .5px solid gray;
    padding-bottom: 8px; }
  main .bottom-line-post-box {
    padding-top: 7px;
    border-bottom: 1px solid lightgray;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 15px; }
  main .post-box-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px; }
  main .post-box-icons ul {
    display: flex;
    align-items: center;
    justify-content: center; }
  main .post-box-icons ul li {
    padding: 0px 40px; }
  main .fa-video {
    color: #F02848;
    font-size: 21px; }
  main .fa-image {
    color: #44BD62;
    font-size: 21px; }
  main .fa-laugh-squint {
    color: #F8B928;
    font-size: 21px; }
  main .video-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    background: #fff;
    border-radius: 7px 7px 0px 0px; }
  main .video-chat ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; }
  main .video-chat ul li {
    padding: 12px 6px; }
  main .video-chat-one .fa-video {
    color: #BD4DB6; }
  main .light-gray-text a {
    color: #696B6F;
    font-weight: 100;
    font-size: 14px; }
  main .blue-text a {
    color: #236EDB; }
  main .video-chat-contacts {
    background: white;
    padding: 8px 7px;
    border-radius: 0px 0px 7px 7px; }
  main .video-chat-contacts a {
    padding: 0px 7px; }
  main .contact-video-chat {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  main .video-chat-contacts i {
    color: white;
    position: relative;
    bottom: 13px;
    right: 28px;
    font-size: 16px; }
  main .post-feed {
    background: #fff;
    border-radius: 7px;
    margin-top: 20px;
    padding: 18px;
    margin: 32px; }
  main .post-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  main .logo {
    padding-right: 10px; }
  main .top-post-info {
    display: flex;
    align-items: center; }
  main .fa-check-circle {
    color: #057CEB;
    font-size: 13px; }
  main .ellipsis {
    color: gray;
    margin-left: auto;
    position: relative;
    bottom: 10px; }
  main .post-p {
    padding-top: 10px; }
  main .blue-text {
    color: #057CEB;
    font-size: 16px; }
  main .post-feed-img {
    width: 100%;
    height: auto;
    padding-top: 15px;
    cursor: pointer; }
  main .post-icon-stats {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  main .post-icons {
    display: flex;
    align-items: center; }
  main .post-icons li {
    padding: 6px 2px; }
  main .fa-thumbs-up {
    color: #057CEB; }
  main .fa-heart {
    color: #EB1947; }
  main .fa-grin-hearts {
    color: #F9B950; }
  main .post-stats {
    display: flex;
    align-items: center; }
  main .post-stats li {
    padding: 6px 2px;
    margin-left: 4px; }
  main .post-stats li a {
    color: gray; }
  main .user-post-interaction {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  main .user-post-interaction ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
  main .user-post-interaction ul li {
    padding: 0px 45px; }
  main .user-post-interaction ul li, main i {
    color: gray; }
  main .gray {
    color: gray; }
  main .post-interaction-img {
    width: 20px;
    height: 20px;
    border-radius: 50%; }

@media only screen and (max-width: 766px) {
  #mobile-version .mobile-story-img-4 {
    display: none; }
  #mobile-version .mobile-story-img-5 {
    display: none; }
  #mobile-version .mobile-story-img-6 {
    display: none; } }

@media only screen and (min-width: 1337px) {
  #mobile-version {
    display: none; } }

@media only screen and (max-width: 1338px) {
  nav {
    display: none; }
  main {
    display: none; }
  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .mobile-nav ul {
      display: flex;
      align-items: center; }
    .mobile-nav li {
      padding: 8px 10px; }
    .mobile-nav i {
      position: relative;
      bottom: 2px;
      right: 4px; }
    .mobile-nav .mobile-logo {
      color: #057CEB;
      font-weight: 700;
      font-size: 24px; }
    .mobile-nav .gray-bg {
      background: #F0F2F5;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin: 0px 3px; }
  .mobile-post {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12px;
    padding-left: 8px;
    margin-bottom: 10px; }
    .mobile-post .mobile-profile-img-sm {
      width: 30px;
      height: 30px;
      border-radius: 50%; }
    .mobile-post input {
      border: none;
      outline: none;
      margin-left: 10px; }
  .mobile-user-options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #F0F2F5; }
    .mobile-user-options .mobile-user-icons {
      margin-top: 10px; }
    .mobile-user-options .images-icon {
      border-left: 1px solid #F0F2F5;
      border-right: 1px solid #F0F2F5;
      padding: 0px 25px; }
    .mobile-user-options .fa-eye {
      color: #EF2A48; }
    .mobile-user-options .fa-images {
      color: #44BE63; }
    .mobile-user-options .fa-video {
      color: #9E6DFB; }
  .mobile-video-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-top: 8px solid lightgray;
    border-bottom: 8px solid lightgray; }
    .mobile-video-chat ul {
      display: flex;
      align-items: center;
      justify-content: center; }
    .mobile-video-chat li {
      padding: 10px 5px; }
    .mobile-video-chat .fa-video {
      color: #9E6DFB; }
    .mobile-video-chat img {
      width: 35px;
      height: 35px;
      border-radius: 50%; }
  .mobile-stories {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 8px solid lightgray; }
    .mobile-stories p {
      color: white;
      position: relative;
      top: 132px;
      text-align: center; }
    .mobile-stories .mobile-story-img-1 {
      background: url('./img/about-selfie.jpg') no-repeat center center/cover;
      width: 125px;
      height: 200px;
      border-radius: 21px;
      margin: 10px; }
    .mobile-stories .fa-plus-circle {
      color: #fff;
      position: relative;
      top: 6px;
      left: 10px;
      font-size: 32px; }
    .mobile-stories .mobile-story-img-2 {
      background: url('./img/contacts-2.jpg') no-repeat center center/cover;
      width: 125px;
      height: 200px;
      border-radius: 21px;
      margin: 10px; }
    .mobile-stories .mobile-story-img-3 {
      background: url('./img/contacts-3.jpg') no-repeat center center/cover;
      width: 125px;
      height: 200px;
      border-radius: 21px;
      margin: 10px; }
    .mobile-stories .mobile-story-img-4 {
      background: url('./img/contacts-4.jpg') no-repeat center center/cover;
      width: 125px;
      height: 200px;
      border-radius: 21px;
      margin: 10px; }
    .mobile-stories .mobile-story-img-5 {
      background: url('./img/contacts-5.jpg') no-repeat center center/cover;
      width: 125px;
      height: 200px;
      border-radius: 21px;
      margin: 10px; }
    .mobile-stories .mobile-story-img-6 {
      background: url('./img/contacts-6.jpg') no-repeat center center/cover;
      width: 125px;
      height: 200px;
      border-radius: 21px;
      margin: 10px; }
  .mobile-feed {
    margin-top: 10px;
    border-bottom: 8px solid lightgray; }
    .mobile-feed .mobile-blue-text {
      color: #057CEB; }
    .mobile-feed .mobile-post-logo img {
      width: 45px;
      height: 45px;
      border-radius: 50%; }
    .mobile-feed .mobile-post-header-layout {
      display: flex;
      align-items: center;
      padding: 10px; }
    .mobile-feed p {
      margin-left: 8px; }
    .mobile-feed small {
      margin-left: 8px; }
    .mobile-feed .mobile-post-header {
      margin-right: auto; }
    .mobile-feed .fa-check-circle {
      color: #057CEB;
      font-size: 12px; }
    .mobile-feed small {
      color: gray; }
    .mobile-feed .fa-ellipsis-h {
      color: gray; }
    .mobile-feed .mobile-post-content {
      padding: 10px; }
    .mobile-feed .mobile-post-img img {
      width: 100%;
      height: auto;
      border-bottom: .5px solid gray; }
    .mobile-feed .post-description {
      background: #F0F2F5;
      border-bottom: .5px solid gray;
      padding-bottom: 8px; }
    .mobile-feed .mobile-post-icon-stats {
      display: flex;
      align-items: center; }
    .mobile-feed .mobile-post-icons {
      display: flex;
      align-items: center; }
    .mobile-feed .mobile-post-stats {
      display: flex;
      align-items: center;
      margin-left: auto; }
    .mobile-feed .fa-thumbs-up {
      color: #057CEB; }
    .mobile-feed .fa-heart {
      color: #EB1947; }
    .mobile-feed .fa-grin-hearts {
      color: #F9B950; }
    .mobile-feed .mobile-post-stats li {
      padding: 6px 2px; }
    .mobile-feed .mobile-post-stats li a {
      color: gray; }
    .mobile-feed .mobile-post-icons li {
      padding: 5px 2px; }
    .mobile-feed .mobile-post-interaction-img {
      height: 20px;
      width: 20px;
      border-radius: 50%; }
    .mobile-feed .mobile-bottom-line {
      border-bottom: 1px solid lightgray;
      width: 95%;
      margin: 0 auto; }
    .mobile-feed .mobile-user-post-interaction {
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
    .mobile-feed .mobile-user-post-interaction ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
    .mobile-feed .mobile-user-post-interaction li {
      padding: 8px 20px; }
    .mobile-feed .mobile-user-post-interaction i {
      color: gray; }
    .mobile-feed .sticky-mobile {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: #717171;
      width: 100%;
      position: fixed;
      bottom: 0;
      z-index: 2;
      background: #fff;
      height: 50px;
      -webkit-box-shadow: 0px -1px 11px -2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px -1px 11px -2px rgba(0, 0, 0, 0.75);
      box-shadow: 0px -1px 11px -2px rgba(0, 0, 0, 0.75); }
      .mobile-feed .sticky-mobile .fa-home {
        color: #057CEB; }
    .mobile-feed .sticky-mobile ul {
      display: flex;
      align-items: center;
      justify-content: center; }
    .mobile-feed .sticky-mobile li {
      display: flex;
      align-items: center;
      padding: 5px; }
    .mobile-feed .sticky-mobile i {
      color: gray;
      font-size: 24px; } }

@media only screen and (max-width: 281px) {
  .mobile-post-interaction-img {
    display: none; }
  .fa-caret-down {
    display: none; } }
